.img-sm {
  width: 80px;
  height: 80px;
}

.wrap-img-address {
  display: flex;
  justify-content: space-between;
}

.item {
  &:hover {
    -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    transition: 0.3s;
    z-index: 2;
  }
}