.ashFMQ {
    background: #f5f5f5 !important;
    box-shadow: 0 0 0 2px #f5f5f5;
    min-height: 740px;
  }
  
  .QmO3Bu {
    background: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    margin-bottom: 12px;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .KI5har {
    align-items: center;
    background: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, .09);
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    display: flex;
    flex: 1;
    font-size: 16px;
    justify-content: center;
    line-height: 19px;
    overflow: hidden;
    padding: 16px 0;
    text-align: center;
    transition: color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .jcg0Gr {
    color: #ee4d2d;
    font-size: 14px;
    margin: 0 0 0 4px;
  }
  
  .mZ1OWk, .dJaa92 {
    display: flex;
    word-wrap: break-word;
  
    &.mZ1OWk {
      align-items: center;
      color: rgba(0, 0, 0, .87);
      flex-wrap: nowrap;
      padding: 12px 0 0;
    }
  
    &.dJaa92 {
      align-items: flex-start;
      flex: 1;
      flex-wrap: nowrap;
      padding: 0 12px 0 0;
    }
  }
  
  .ylYzwa {
    text-align: right;
  }
  
  .gQuHsZ {
    background: #e1e1e1;
    border: 1px solid #e1e1e1;
    flex-shrink: 0;
    height: 80px;
    width: 80px;
  }
  
  .nmdHRf {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    padding: 0 0 0 12px;
    word-wrap: break-word;
  }
  
  .YL_VlX {
    background: white;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin: 12px 0;
  }
  
  .QY7kZh {
    border-radius: 2px;
    min-height: 40px;
    min-width: 150px;
    outline: none;
    outline: 0;
    overflow: hidden;
    padding: 8px 20px;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }
  
  .yyqgYp {
    align-content: center;
    background: #fffefb;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12px 24px 24px;
  }
  
  .J632se {
    background: #fff;
    padding: 12px 24px;
  
    &:first-child {
      padding-top: 24px;
    }
  }
  
  .LwXnUQ {
    background: #fffefb;
    padding: 24px 24px 12px;
  }
  
  .NWUSQP {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }