.purchase-btn {
  font-weight: 700;
  color: white !important;
}

.shopping-information {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.icon-text-wrap {
    margin-bottom: 0;

  .icon-text {
    margin: 0;
  }
}
