
button{
    padding: 5px 20px;
    border-radius: 10px;
    float: right;
    transform: translateY(calc(50% + 5px));
    &:hover {
        background-color: #ff6a00;
        border-color: #9099a6;;
      }
}
.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    > div {
        // Áp dụng flex-grow cho tất cả các phần tử div 
        background-color: DodgerBlue;
        color: white;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
    
  

}

  


